{gettext("%{product} is collecting visitor statistics for your website.",
  product: "Nettipoika Mittari"
)}
<br /><br />
{gettext(
  "Open your dashboard to review traffic sources, popular pages, goals and other useful statistics."
)}
<br /><br />
<a href={plausible_url()}>{gettext("Open %{product}", product: "Nettipoika Mittari")}</a>
