{gettext("Your %{product} account is ready.", product: "Nettipoika Mittari")}
<br /><br />
{gettext(
  "Add your website address and timezone, then install the tracking script to begin collecting visitor statistics."
)}
<br /><br />
<a href={"#{plausible_url()}/sites/new"}>{gettext("Add your website")}</a>
