{gettext("%{inviter} invited you to the team %{team} in %{product}.",
  inviter: @inviter.email,
  team: @team.name,
  product: Plausible.product_name()
)}
<a href={Routes.site_url(PlausibleWeb.Endpoint, :index)}>{gettext("Click here")}</a>
{gettext("to view and respond to the invitation. The invitation expires in 48 hours.")}
