{gettext("%{inviter} invited you to the site %{site} in %{product}.",
  inviter: @inviter.email,
  site: @site.domain,
  product: Plausible.product_name()
)}
<a href={Routes.site_url(PlausibleWeb.Endpoint, :index) <> "?__team=none"}>
  {gettext("Click here")}
</a>
{gettext("to view and respond to the invitation. The invitation expires in 48 hours.")}
