{gettext("Your %{product} export for %{site} is now ready for download.",
  product: Plausible.product_name(),
  site: @site.domain
)}
{gettext("Please click")} <a href={@download_url}>{gettext("here")}</a>
{gettext("to start the download process.")}
<%= if @expires_in do %>
  {gettext("Note that this link will expire %{expires_in}.", expires_in: @expires_in)}
<% end %>
