{gettext("Your %{product} export for %{site} failed.",
  product: Plausible.product_name(),
  site: @site.domain
)}
<br /><br /> {gettext("Please try exporting your data again.")}
<%= if ee?() do %>
  Should the problem persist, do reply to this email so we can assist. Thanks!
<% end %>
