{gettext("Your %{product} export for %{site} is ready.",
  product: Plausible.product_name(),
  site: @site.domain
)}
{gettext("Click")} <a href={@download_url}>{gettext("here")}</a>
{gettext("to download it.")}
<%= if @expires_in do %>
  {gettext("This link expires %{expires_in}.", expires_in: @expires_in)}
<% end %>
