<a href={@reset_link}>{gettext("Click here")}</a>
{gettext("to reset your Nettipoika Visitor Analytics password.")}<br /><br />
{gettext(
  "This link expires in one hour. If it expires, you can request a new password reset link."
)}
