{gettext("Good news! %{product} has received the first pageview from %{site}.",
  product: "Nettipoika Mittari",
  site: @site.domain
)}
<br /><br />
{gettext(
  "Visitor statistics are now being collected without compromising your visitors' privacy."
)}
<br /><br />
<a href={"#{plausible_url()}/#{URI.encode_www_form(@site.domain)}?__team=#{@site_team.identifier}"}>
  {gettext("Open the dashboard")}
</a>
<br /><br />
{gettext("If the numbers do not look right, review the installation in the site settings.")}
