{gettext("The installation for %{site} is not complete yet.", site: @site.domain)}
<br /><br />
{gettext(
  "Review the installation instructions and make sure the tracking script is present on your website."
)}
<br /><br />
<a href={"#{plausible_url()}/#{URI.encode_www_form(@site.domain)}/installation?__team=#{@site_team.identifier}"}>
  {gettext("Review installation")}
</a>
<br /><br />
{gettext("Visitor statistics will appear in %{product} after the first pageview is received.",
  product: "Nettipoika Mittari"
)}
